/* =======================================

		Main Stylesheet

		Building on Twitter Bootstrap
		http://twitter.github.com/bootstrap/

========================================== */

@import url('bootstrap.min.css');

/* New styles below */

label.valid {
    width: 24px;
    height: 24px;
    background: url(../img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: #FF0000;
    padding: 2px 8px;
    margin-top: 2px;
}
.brand
{
    color: limegreen;
}
.company-logo {
    margin: 0 auto;
    display: block;
    height: 80px;
    width: 120px
}
#add_company_dialog{
    float: left;
}
.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
h3
{
    display: inline;
}
